*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    /* display: flex;
    justify-content: space-evenly; */
}
.header1{
    height: 15%;
    width: 100%;
    background-color:pink;
    display: flex;
    justify-content: space-evenly;
    color:black;
}
.logo{
    font-size: x-large;
}
.MyPortfolio{
    color: purple;
    font-size:80px;
    position: relative;
    left: 30%;
    padding: 3%; 
}
.Portfolio1{
    font-size: x-large;
    position: relative;
    left: 35%;
    color: black;
}
.HOME{
    height: 15%;
    width: 100%;
    background-color:pink;
    display: flex;
    justify-content: space-evenly;
    color:black;
}
.content{
    font-size: 50px;
    color:black

}
.home1{
    height: 100%;
    width: 100%;
    background-color: aqua;
    font-size: x-large;
    position: relative;
    top: 20%;
    text-align: center;
    color: crimson;
}
.About{
    height: 15%;
    width: 100%;
    background-color:pink;
    display: flex;
    justify-content: space-evenly;
    color:black;
}
.aboutme{
    font-size: 50px;
    color: black;
}
.about1{
    height: 100%;
    width: 100%;
    background-color: aqua;
    font-size: x-large;
    position: relative;
    top: 20%;
    text-align: center;
    color:red
}
.button{
    color: purple;
    position: relative;
    right: 10%;
    top: 20%;
}
.Contact{
    height: 2%;
    width: 100%;
    background-color:pink;
    display: flex;
    justify-content: space-evenly;
    color:black;
}
.contact1{ 
    height: 15%;
    width: 100%;
    background-color: aqua;
    padding-top: 10%;
    padding-left: 40%;
    /* position: relative;
    top: 20%; */
}
.Signup{
    height: 2%;
    width: 100%;
    background-color:pink;
    display: flex;
    justify-content: space-evenly;
    color:black;

}
.sign{
    font-size: 50px;
}
.signup1{
    height: 15%;
    width: 100%;
    background-color: aqua;
    /* scroll-padding-bottom:10%; */
    padding: 10%;
    padding-left: 40%;

}
/* .MyPortfolio{
    height: 2%;
    width: 100%;
    background-color:pink;
    display: flex;
    justify-content: space-evenly;
    color:black;

}
    */